.Partners {
  padding-bottom: 22px;
  box-shadow: inset 0 0 12px #402D41;
  .PageTitle {
    color: #444;
  }
  &-image {
    max-width: 100%;
    &-wrapper {
      height: 150px;
      background: center no-repeat;
      background-size: contain;
    }
  }

  .swiper-pagination-bullet {
    background: #8b8a8a;
  }
}
