.Headliners {
  padding-bottom: 42px;
  &-slide {
    &-player_link {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: url(./images/play.svg) center center no-repeat;
        background-size: contain;
        opacity: 0;
        transform: scale(0);
        transition: all .42s ease-out;
      }
      &:hover {
        &:after {
          transform: scale(.9);
          opacity: .9;
          filter: invert(100%);
        }
      }
      @media (--mobile) {
        &:after {
          transform: scale(.9);
          opacity: .9;
          filter: invert(100%);
        }
      }
    }
  }
}

.headliner {
  background: #403143 url(./images/circle_6_g.svg) center center no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

.datename {
  background: url('./images/circle_6_g.svg') center center no-repeat #403143;
  background-size: 1149px auto;
}

.headliner .section-name, .form .section-name {
  color: #fff;
}

.h1-cirle {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}

.h1-cirle::after {
  content: '';
  background: url('./images/headliner_round.svg') 50% 50% no-repeat;
  background-size: 100% auto;
  position: absolute;
  max-width: 100%;
  bottom: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  max-height: 100%;
  z-index: 1;
  -webkit-animation: circle 25s infinite;
  animation: circle 25s infinite;
  transform-origin: 50% 50%;
}

.headliner .swiper-slide:nth-child(2n+1) .h1-cirle::after {
  -webkit-animation: circle 15s infinite;
  animation: circle 15s infinite;
}

.headliner .swiper-slide:nth-child(2n) .h1-cirle::after {
  -webkit-animation: circle 10s infinite;
  animation: circle 10s infinite;
}

.headliner .swiper-slide:nth-child(3n) .h1-cirle::after {
  -webkit-animation: circle 10s infinite;
  animation: circle 20s infinite;
}

.h1-title {
  font-size: 30px;
  color: #fff;
  text-align: center;
  height: 90px;
  z-index: 2;
}

.h1-text {
  font-size: 15px;
  color: #fff;
  z-index: 2;
  text-align: justify;
}

.h1-title, .h1-text {
  padding: 20px 15px 10px 15px;
  line-height: 1.2;
}

.slickslider {
  z-index: 2;
}

.h1-img {
  border: none;
  display: block;
  width: 72%;
  height: 72%;
  border-radius: 50% 50%;
  /*  border: 2px solid #fff;*/
  box-shadow: 0px 0px 0px 2px #fff;
  overflow: hidden;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

@media (max-width: 1020px) {
  .h1-title, .h1-text {
    padding: 20px 10px 10px 10px;
  }

}
