.BuyTicketCounter {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 4.2;
  background: #304532;
  box-shadow: 0 0 6px #020;
  text-transform: none;
  text-align: center;
  font-size: 22px;
  @media (--tablet) {
      font-size: 16px;
  }
  @media (--mobile) {
      line-height: 1.42;
    padding: 2em;
    padding-top: 3.2em;
  }

  &-hide {
    border: none;
    z-index: 22;
    background: none;
    position:absolute;
    right: 0;
    top: 0;
    padding: 0 2em;
    &:hover {
       color: #EE0;
    }
    @media (--mobile) {
        padding: 1em;
    }
  }
}
