.PageFooter {
  background: #fefefe;
  z-index: 2;
  box-shadow: 0 0 8px rgba(123, 128, 133, 0.8);
  .footer-container {
    display: flex;
    justify-content: space-between;
    > div {
      width: auto;
    }
    .social {

      white-space: nowrap;
    }

  }
}
