.LineupNavList {
  background: #111;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  @media(--mobile) {
    order: 2;
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  &-li {
    order: 1;
    &-active {
      order: 0;
      min-height: 50vh;
      &-mark {
        order: 1;
        display: block;
        &-inner {
          padding: .42em 1em;
          font-size: 18px;
          font-weight: bold;
          background: #fbfbfb;
        }
      }
    }
  }

  &-artist {
    background: center center;
    background-size: cover;
    &-title {
      display: block;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.85);
      padding: .42em 1em;
      font-size: 18px;
      font-weight: bold;
      color: white;
      text-decoration: none !important;
      white-space: nowrap;
      &:hover, &:focus {
        color: white;
        background: rgba(19, 48, 17, 0.85);
      }
      &-active {
        background: rgba(255, 255, 255, 0.90);
        color: #111;
        &:hover {
          + div {
            opacity: 0;
          }
        }
      }
    }
    &-text {
      padding: .42em 1.42em  5em 1.42em;
      background: rgba(255, 255, 255, 0.95);
      position: relative;
      opacity: 1;
      transition: .42s ease-out;
    }
    &-sound_cloud {
      background: linear-gradient(#f4ffbd, #ccffcf);
      position: absolute;
      bottom: 1em;
      right: 0;
      border-radius: 4px 0 0 4px;
      box-shadow: 0 0 2px #333;
      &:hover {
        box-shadow: 0 0 4px rgba(93, 46, 0, 0.86);
      }
      &-link {
        color: rgba(17, 17, 17, 0.96) !important;
        font-weight: bold;
        font-size: 1em;
        line-height: 2em;
        padding: 0 2em 0 4em;
        background: url(./images/sound_cloud_logo.svg) 15px center no-repeat;
        background-size: contain;
        text-decoration: none !important;
        @media (--tablet) {
          font-size: .8em;
          line-height: 1.42em;
        }
      }
    }
  }

}
