.LineupStageInfo {
  padding: 1em;
  background: no-repeat center center;
  background-size: cover;
  height: calc(100vh - 63px);
  box-shadow: inset 0 0 8px #0f260f;
  &-inner {
    background: rgba(255, 252, 211, 0.8);
    border-radius: 1em;
    padding: 1.42em;
    font-size: 1.2em;
  }
  @media (--mobile) {
    height: auto;
  }
}
