.LineupStageSelect {
  min-height: calc(100vh - 163px);
  &-wrapper {
    padding: 3em 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    @media (max-width: 1020px) {
      display: block;
    }
  }
  &-stage {
    max-width: 100%;
    width: 30%;
    @media (max-width: 1020px) {
     width: 100%;
      margin: 2em 0;
    }
    border-radius: 12px;
    padding: 24px;
    background-size: cover;
    box-shadow: 2px 2px 4px #111111;
    border: none;
    display: block;
    &-inner {
      padding: 12px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      color: black;
    }
  }
}
