.Lineup {
  padding-bottom: 42px;
  &-wrapper {
    display: flex;
    padding: 0;
    box-shadow: 2px 2px 8px #333;
    border-radius: 2px;
    @media (--mobile) {
      flex-direction: column;
    }
  }
}
