.PageHeader {
  background: black;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 4px #000;
  &-change_lang_button {
    display: block;
    background: center center no-repeat;
    background-size: cover;
    border: none;
    color: transparent;
    font-size: 1px;
    width: 50px;
    height: 38px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.75) 0 1px 1px;
    &-en {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCAzMCIgd2lkdGg9IjEyMDAiIGhlaWdodD0iNjAwIj4KPGNsaXBQYXRoIGlkPSJ0Ij4KCTxwYXRoIGQ9Ik0zMCwxNSBoMzAgdjE1IHogdjE1IGgtMzAgeiBoLTMwIHYtMTUgeiB2LTE1IGgzMCB6Ii8+CjwvY2xpcFBhdGg+CjxwYXRoIGQ9Ik0wLDAgdjMwIGg2MCB2LTMwIHoiIGZpbGw9IiMwMDI0N2QiLz4KPHBhdGggZD0iTTAsMCBMNjAsMzAgTTYwLDAgTDAsMzAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSI2Ii8+CjxwYXRoIGQ9Ik0wLDAgTDYwLDMwIE02MCwwIEwwLDMwIiBjbGlwLXBhdGg9InVybCgjdCkiIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI0Ii8+CjxwYXRoIGQ9Ik0zMCwwIHYzMCBNMCwxNSBoNjAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxMCIvPgo8cGF0aCBkPSJNMzAsMCB2MzAgTTAsMTUgaDYwIiBzdHJva2U9IiNjZjE0MmIiIHN0cm9rZS13aWR0aD0iNiIvPgo8L3N2Zz4K);
    }
    &-ru {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDkgNiIgd2lkdGg9IjkwMCIgaGVpZ2h0PSI2MDAiPjxyZWN0IGZpbGw9IiNmZmYiIHdpZHRoPSI5IiBoZWlnaHQ9IjMiLz48cmVjdCBmaWxsPSIjZDUyYjFlIiB5PSIzIiB3aWR0aD0iOSIgaGVpZ2h0PSIzIi8+PHJlY3QgZmlsbD0iIzAwMzlhNiIgeT0iMiIgd2lkdGg9IjkiIGhlaWdodD0iMiIvPjwvc3ZnPg==);
    }
    &-wrapper {
      @media (max-width: 330px) {
        order: 0;
      }
    }
  }
  a {
    display: block;
  }
  > *, a, a:hover, a:focus {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
  &-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
  }
  &-list {
    ul {
      padding: 0;
    }
    > ul {
      display: flex;
    }
    ul, li {
      list-style: none;
      margin: 0;
    }
    @media (max-width: 1020px) {
      max-height: 0;
      transition: all .22s ease;
      order: 10;
      overflow: hidden;
      > ul {
        flex-wrap: wrap;
        > li {
          width: 100%;
          text-align: center;
          ul {
            position: relative;
            transform: none;
            background: #46484b;
            li {
              &:hover {
                background: #2a2c2e;
              }
            }
          }
        }
      }
    }
    &-opened {
      @media (max-width: 1020px) {
        max-height: calc(100vh - 63px);
        overflow-y: auto;
      }
    }
  }
  &-menu {
    &-item {
      line-height: 69px;
      white-space: nowrap;
      cursor: pointer;
      position: relative;
      background: none;
      border: none;
      &-link {
        padding: 0 12px;
        &:hover, &:focus, &:focus-within {
          background: #383a3d;
        }
        &.active {
          color: #111;
          background: #fefefe;
          font-weight: bold;
          &:hover {
            color: #151;
          }
        }
      }
    }
  }
  &-submenu {
    transition: max-height .12s ease-in, opacity .12s ease-in-out;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    transform: translateY(100%);
    background: black;
    &-opened {
      @media (max-width: 1020px) {
        background: #383A3D;
        transition: max-height .42s ease-in;
        max-height: calc(100vh - 96px);
        opacity: 1;
        margin: 12px 0;
      }
    }
    li {
      padding: 0 20px;
      &:hover, &:focus-within {
        background: #383a3d;
      }
      > *, a, a:hover, a:focus {
        font-size: 16px;
      }
    }
  }
  &-logo {
    a {
      display: block;
    }
    img {
      width: 80px;
      height: 63px;
    }

    @media (max-width: 330px) {
      display: none;
    }
  }
  &-buy_button-wrapper {
    @media (max-width: 330px) {
      order: 1;
    }
    button {
      width: 200px;
      max-width: 100%;
      background: none;
      white-space: nowrap;
      font-size: 18px;
      height: 38px;
      line-height: 38px;
      padding: 0 12px;
      border: 1px solid #FFF;
      border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
      @media (--mobile) {
        width: auto;
      }
      @media (max-width: 432px) {
        height: auto !important;
        line-height: 20px !important;
        padding: 0 6px !important;
        font-size: 12px !important;
      }
    }
  }
  &-mobile_nav {
    &-icon {
      @media (max-width: 330px) {
        order: 3;
      }
    }
  }
}
