.PageHeader {
  background: black;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 4px #000;
  a {
    display: block;
  }
  > *, a, a:hover, a:focus {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
  &-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
  }
  &-list {
    ul {
      padding: 0;
    }
    > ul {
      display: flex;
    }
    ul, li {
      list-style: none;
      margin: 0;
    }
    @media (max-width: 1020px) {
      max-height: 0;
      transition: all .22s ease;
      order: 10;
      overflow: hidden;
      > ul {
        flex-wrap: wrap;
        > li {
          width: 100%;
          text-align: center;
          ul {
            position: relative;
            transform: none;
            background: #46484b;
            li {
              &:hover {
                background: #2a2c2e;
              }
            }
          }
        }
      }
    }
    &-opened {
      @media (max-width: 1020px) {
        max-height: calc(100vh - 63px);
        overflow-y: auto;
      }
    }
  }
  &-menu {
    &-item {
      padding: 0 12px;
      line-height: 69px;
      white-space: nowrap;
      cursor: pointer;
      position: relative;
      background: none;
      border: none;
      &:hover, &:focus, &:focus-within {
        background: #383a3d;
        .PageHeader-submenu {
          box-shadow: 0 2px 8px black;
          @media (min-width: 1021px) {
            transition: max-height .42s ease-in;
            max-height: calc(100vh - 96px);
            opacity: 1;
          }
        }
      }
    }
  }
  &-submenu {
    transition: max-height .12s ease-in, opacity .12s ease-in-out;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    transform: translateY(100%);
    background: black;
    &-opened {
      @media (max-width: 1020px) {
        background: #383A3D;
        transition: max-height .42s ease-in;
        max-height: calc(100vh - 96px);
        opacity: 1;
        margin: 12px 0;
      }
    }
    li {
      padding: 0 20px;
      &:hover, &:focus-within {
        background: #383a3d;
      }
      > *, a, a:hover, a:focus {
        font-size: 16px;
      }
    }
  }
  &-logo {
    a {
      display: block;
    }
    img {
      width: 80px;
      height: 63px;
    }

    @media (max-width: 292px) {
      display: none;
    }
  }
  &-buy_button-wrapper {
    button {
      width: 200px;
      max-width: 100%;
      background: none;
      white-space: nowrap;
      font-size: 18px;
      height: 38px;
      line-height: 38px;
      padding: 0 12px;
      border: 1px solid #FFF;
      border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
      @media (--mobile) {
        width: auto;
      }
      @media (max-width: 380px) {
        height: auto !important;
        line-height: 20px !important;
        padding: 0 6px !important;
        font-size: 12px !important;
      }
    }
  }
}
