.InfoSections {
  padding-bottom: 32px;
  &-inner {
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    @media (--mobile) {
      flex-wrap: wrap-reverse;
      border-radius: 12px;
      border: 2px solid #de8951;
    }
  }
  &-title {
    text-align: center;
    order: 5;
    width: 100%;
    color: #fefefe;
    margin: 0;
    line-height: 2.42;
    display: none;
    @media (--mobile) {
      display: block;
    }
  }
  &-nav {
    z-index: 2;
    padding-bottom: 25px;
    padding-left: 5px;
    @media (--mobile) {
      width: 100%;
      padding: 0;
      border-radius: 0;
    }
    &-li {
      order: 1;
      &-active {
        @media (--mobile) {
          order: 0;
        }
      }
    }
    &-link {
      padding: .5em 1em;
      background: #fefefe;
      color: #111;
      text-transform: uppercase;
      display: block;
      white-space: nowrap;
      &:hover, &:focus, &:active, &:visited {
        text-decoration: none;
        color: #111;
      }
      &:hover {
        background: #fef6de;
      }
      &-active {
        &:hover, &:focus, &:active, &:visited {
          color: #fefefe;
          background: #de8951;
          text-decoration: none;
        }
        color: #fefefe;
        background: #de8951;

      }

    }

  }
  &-main {
    border-radius: 0 12px 12px 12px;
    box-shadow: 2px 2px 8px rgba(42, 44, 46, 0.9);
    border: 2px solid #de8951;
    background: #fefefe;
    flex: 1;
    padding: 1.42em;
    @media (--mobile) {
      border-radius: 0;
      border: none;
      border-top: 2px solid #de8951;
    }
  }
  &-list {
    border-radius: 12px 0 0 12px;
    border: 2px solid #de8951;
    border-right: none;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    @media (--mobile) {
      border: none;
      border-radius: 0;
    }
    &-without_main {
      border: 2px solid #de8951;
      border-radius: 12px;
    }

  }
  &-flex_images {
    padding-top: 25px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    @media (max-width: 430px) {
      flex-wrap: wrap;
    }
    div {

    }
    img {
      max-height: 250px;
      max-width: 100%;
    }
  }

  .col_left50, .col_right50 {
    @media (--tablet) {
      width: 100%;
    }
  }
  .cols {
    @media (--tablet) {
      display: block;
    }
  }
}
