.Noosphere {
  background: url(./images/fest2018_zajava.jpg) fixed center center;
  background-size: cover;
  min-height: calc(100vh - 63px);
  overflow: hidden;
  position: relative;
  padding-bottom: 80px;

  &-inner {
    position: relative;
    z-index: 2;
  }

  &-bg_circles {
    z-index: 1;
  }
}
